<!DOCTYPE html>
<html lang="en">



<head>
    <title>Mission to Mars</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

<body>


<div class="container">
    <div class="jumbotron text-center">
      <h1 class="text-primary display-3">Mission to Mars</h1>
      <p class="lead"><a class="btn btn-warning" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
</div>




<div class="container">
    <div class="row mb-2">
      <div class="col-1"></div>
      <div class="col-10">
      <h3 class="text-secondary border-bottom"><strong>Latest Mars News</strong></h3>
      <h5>{{ mars.news_title }}</h4>
      <h6>{{ mars.news_detail }}</h6>
    </div>
</div>



<div class = "row">

        <div class = "col md-4>">
          <h2>Featured Mars Image</h2>
          <img src={{mars.featured_image_url}} alt="Featured Mars Image" style="width:665px;height:420px;">
        </div>
    
        <div class = "col md-4>">
          <h4>Mars Facts</h4>
          {{mars.mars_facts_html | safe}}
        </div>

</div>








  <br><br>
  

<div class="row, justify-content-center">


    <div class="col md-12 text-center">
        <h2 class = "center">Mars Hemispheres</h2>
    </div>


    {% for hemisphere in mars.hemisphere_image_urls %}
        <div class="col-md-3">
          <div class="thumbnail">
            <img src="{{hemisphere.img_url | default('static/images/error.png', true)}}" alt="Mars Hemisphere">
            <div class="caption">
              <h3>{{hemisphere.title}}</h3>
            </div>
          </div>
        </div>
        {% endfor %}



</div>


</body>



</html>